<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}<title>layout one</title>{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		html {
    height: 100%;
	}

	body {
	    min-height: 100vh;
	}

	/* fixed and fluid only on sm and up */
	@media (min-width: 768px) {
	    .left {
	        position:fixed;
	    }
	    .fixed {
	        min-height: 100vh;
	        min-width: 180px;
	        max-width: 180px
	    }
	    .col .fluid {
	       min-height: 100vh;
	    }
	    .flex-grow {
	       flex:1;
	    }
	}
	</style>
</head>
<body>
	<div class="container-fluid h-100">
    <div class="row h-100">
        <!-- left sidebar -->
        <div class="col-md-2 fixed pl-0 py-2 bg-light left">
        	{% block sidebar %}<!-- insert default navigation text for every page -->
            <ul class="nav flex-md-column flex-nowrap justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-truncate" href="#">Top on mobile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fixed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            {% endblock %}
        </div>
        <!-- center content -->
        <div class="invisible col-md-2 fixed"><!--ghost div to push middle section offset--></div>
        <div class="col fluid d-flex flex-column p-0">
            <nav id="topNav" class="navbar navbar-expand-md navbar-dark bg-primary">
                <a class="navbar-brand" href="#first">Bootstrap 4 Codeply</a>
                <button class="navbar-toggler ml-auto py-2" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                    ☰
                </button>
                <div class="collapse navbar-collapse" id="collapsingNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" data-toggle="modal" title="A free Bootstrap theme" href="#aboutModal">About</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- main content -->
            <div class="flex-grow">
                <div class="col-12 py-4">
                		{% block content %}<!-- default content text (typically empty) -->
                        <h5 class="text-primary hidden-sm-down">(Fixed-position)-(Fluid)-(Fixed-width) <span class="small">(alt "Holy Grail" Layout)</span></h5>
                        <p>3 wolf moon retro jean shorts chambray sustainable roof party. Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings 
    					flannel Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral 
    					fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, 
    					Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.</p>
    					{% endblock %}
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card card-block mb-2">
                                    <h2 class="text-center"><span class="label label-danger">Snippets</span></h2>
                                    <h1 class="text-center">311</h1>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-2">
                                <div class="card card-block">
                                    <h2 class="text-center"><span class="label label-danger">Downloads</span></h2>
                                    <h1 class="text-center">982</h1>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-2">
                                <div class="card card-block">
                                    <h2 class="text-center"><span class="label label-danger">Sales</span></h2>
                                    <h1 class="text-center">112</h1>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-2">
                                <div class="card card-block">
                                    <h2 class="text-center"><span class="label label-danger">Questions</span></h2>
                                    <h1 class="text-center">209</h1>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- /main content -->

            <footer class="navbar navbar-expand bg-light navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link">Footer</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">More</a></li>
                </ul>
            </footer>

        </div>
        
        <!-- right sidebar -->
        <div class="col-md-2 fixed py-3 bg-light">
            <div class="card card-body mb-4 border-0">
                Put some content here in the sidebar like ads or links.
            </div>
            <div class="card card-body mb-4 border-0">
                Put some content here in the sidebar like ads or links.
            </div>
            <div class="card card-body mb-4 border-0">
                Put some content here in the sidebar like ads or links.
            </div>
        </div>
    </div>
</div>
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>One fine modal body…</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
